*{  margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.banner-section{
    height: 850px;
    background-color: rgba(217, 108, 172, 0.271);
    display:flex;
    gap: 100px;
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;
    justify-content: space-between;
}

.banner-heading{
    font-size: 60px;
    color:rgb(0, 0, 0);
    font-weight: 800;
}
.bnanner-Paragraph{
    font-size: 25px;
    color: rgb(36, 34, 34);
    margin-top: 30px;
    text-align: justify;
}

.gen-button{
    background-color: #f94e73;    
    font-weight: bold;
    text-decoration: none;
    padding: 15px 25px;
    margin-top: 25px;

}
.a-button{
    text-decoration: none;
    color: white;
    font-size: 25px;

}

.banner-img{
    margin-top: 100px;
}


/* Featured Section*/

.featured-section{
    margin-top: 110px;
    text-align: center;
    padding: 0 500px;
}

.featured-heading{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;

}.featured-pgh{
    font-size: 18px;
    font-weight: bold;
    color:rgb(79, 74, 74);
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;

}
/*featured Photo section*/
  .first-pic-holder{
    width: 450px;
    height: 530px;
    background-color: rgba(255, 192, 203, 0.746);
    border: 1px solid rgb(255, 255, 255);
    border-top-left-radius: 270px;
    border-top-right-radius: 270px;
  }
  .first-pic{
  margin-left: 50px;
  margin-top: 40px;
  }
  .flower-photos-container{ 
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    gap: 30px;

  }
 .second-pic{
    margin-left: 60px;
    margin-top: 100px;
 }  

 .third-pic{
    margin-left: 60px;
    margin-top: 102px;
 }
  
 .photo-caption-container{
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    gap: 380px;
    margin-top: 30px;
 }

 /*Hot Deal section*/

 .hot-deal-container{
    height: 650px; ;
    margin-top: 100px;
    background-color:rgba(252, 230, 231, 0.652);
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
    gap: 150px;
 }
 .hot-deal-heading{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
 }